{% extends 'base.html' %}

{% block title %}
ログインページ
{% endblock %}

{% block header %}
ログインページ
{% endblock %}

{% block contents %}
 
<!-- ログインフォーム (※10) -->
<form method="POST">
    <label for="username">ユーザ名</label>
    <input type="text" name="username" placeholder="ユーザー名" required>
    <label for="password">パスワード</label>
    <input type="password" name="password" placeholder="パスワード" required>
    <input type="submit" value="ログイン">
</form>
{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}
{% endblock %}