
{% extends "base.html" %}

{% block title %}
掲示板のトップページ
{% endblock %}

{% block header %}
    {% if current_user.is_authenticated %}
    掲示板のトップページ - {{current_user.username}}さん
    {% else %}
    掲示板のトップページ - ゲストさん
    {% endif %}
{% endblock %}

{% block contents %}
<section>
    <form action="{{url_for('index')}}" method="GET">
        <input type="search" name="search_word" value="{{search_word}}" placeholder="キーワードを入力"></label>
        <input type="submit" value="検索">
    </form>
</section>
<section>
    {% for message in messages_to_display %}
    <article>
        <p>{{message.id}} - {{message.user_name}}</p>
        <p>{{message.contents}}</p>
        <!-- ログインしている場合のみ表示 (※11) -->
        {% if current_user_name %}
            <p><a href="{{url_for('update_message', message_id=message.id)}}">更新</a></p>
            <p><a href="{{url_for('delete_message', message_id=message.id)}}">削除</a></p>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}