{% extends "base.html" %}

{% block title %}
掲示板の書き込みページ
{% endblock %}

{% block header %}
掲示板の書き込みページ
{% endblock %}

{% block contents %}
<!-- メッセージ内容やユーザー名を送信するフォームを定義 ---（※8） -->
<form action="{{url_for('update_message', message_id=updated_message.id)}}" method="POST">
    <p><textarea name="contents" rows="5" cols="60" placeholder="内容を入力してください">{{updated_message.contents}}</textarea></p>
    <input type="hidden" name="user_name" value="{{current_username}}"></label>
    <input type="submit" value="書き込み">

</form>
{% endblock %}